.history/
data/v1/trajectories_*
.DS_Store*


*.parquet
*.json
!staypoints.parquet
!evaluation.json

!info.json
!info.txt
/code/test_eval.ipynb
/code/eval_sspe.py
/code/eval_multi_rt.py
/code/eval_single_algo.py
/code/eval_all.py
/code/reformat.py
